.profile {
  margin: 0px;
  padding: 0px;
  max-width: 880px;
  max-height: 120px;
  margin: 40px auto 0;
  display: flex;
}
@media (max-width: 907px) {
  .profile {
    padding-left: 27px;
    padding-right: 27px;
  }
}
@media (max-width: 700px) {
  .profile {
    padding: 0;
    flex-direction: column;
    max-height: max-content;
    max-width: 282px;
  }
}
