.info__paragraph {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 700px) {
  .info__paragraph {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
