.form__close {
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  padding: 0px;
  height: 32px;
  background-color: none;
  z-index: 2;
  cursor: pointer;
  background-image: url(../../../image/Close\ Icon.png);
  background-repeat: no-repeat;
}
@media (max-width: 700px) {
  .form__close {
    right: 0px;
  }
}
.form__close:hover {
  transition: 1s ease-out;
  opacity: 0.6;
}
