.footer {
  max-width: 880px;
  margin: 67px auto 0;
  padding-bottom: 60px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
@media (max-width: 907px) {
  .footer {
    padding-left: 27px;
    margin: 48px auto 0;
    padding-bottom: 36px;
  }
}
@media (max-width: 700px) {
  .footer {
    padding-left: 0px;
  }
}
